body{
    background-color: #EAE7FF;
}
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{ 
    font-family: Inter;
    font-weight: 700;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
input{
    border: 1px solid #000000;
    border-radius: 72px;
    width: 180px;
    height: 26px;
    background-color: #EAE7FF;
}

#btn-submit{
    border: 1px solid black;
    border-radius:33px;
    width: 200px;
    height: 36px;
    background-color: #FF8A8A;
    color: white;
    font-size: 23px;
}

label{
    font-family: Inter;
    font-weight: 500px;  
    font-size: 20px; 
}
p{
    font-size: 24px;
}